# PASA alignAssembly config used for H. glaberrima v4.
# Keep DATABASE in sync with -c on the command line.

DATABASE=assembler-hglab_pasa_v1.sqlite

# Alignment filter parameters
validate_alignments_in_db.dbi:--MIN_PERCENT_ALIGNED=75
validate_alignments_in_db.dbi:--MIN_AVG_PER_ID=95
validate_alignments_in_db.dbi:--NUM_BP_PERFECT_SPLICE_BOUNDARY=0

# Alignment clustering
subcluster_builder.dbi:-m=50
